__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.db-journal
*.sqlite-journal
.DS_Store
server.log
response_times_cache.logvoice_of_customer.db

# Local Netlify folder
.netlify
voice_of_customer.db
